body{
    background: #03A9F4;
    margin: auto;
    width: 80%;
    font-size: 100%;
    background-image: url("../img/bg.png");
    background-repeat: repeat;
}

.titleContainer{
    margin: auto;
    margin-top: 1em;
    width: 50%;
    text-align: center;
}

#mainContainer{
    width: 80%;
    height: auto;
    
    overflow: auto;
    max-width: 1900px;
    margin: 0 auto;
}


.fourBox{
    width: 43.5%;
    height: auto;
    float: left;
    margin: 2% 0 3% 4%;
    text-align: center;
    color: rgb(41, 41, 41);
    border-radius: 5px;
}

#boxIcons{
    max-width: 150px;
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

#topRisers{
    border: 3px solid green;
}

#search{
    border: 3px solid green;
}

#topFallers{
    border: 3px solid green;
}

#fullList{
    border: 3px solid green;
}

/* risers & fallers .php styling */
.profileContainer{
    width: 90%;
    background: rgba(131, 131, 131, 0.253);
    border-radius: 5px;
}
